@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using WebAppMVC.Resources
@model User

@inject IStringLocalizer<Users> StringLocalizer
@inject IHtmlLocalizer<Users> HtmlLocalizer
@inject IViewLocalizer ViewLocalizer

<div>
    <table class="table">
        <thead>
            <tr>
                <partial name="_UserHeader" model="new User()" />
            </tr>
        </thead>
        <tbody>
                <tr>
                    <partial name="_UserBody" model="@Model" />
                </tr>
        </tbody>
    </table>
</div>

<div>
    @using(@Html.BeginForm("DeleteUser", "Users"))
    {
        @Html.HiddenFor(x => x.Id);
        @* <input type="hidden" asp-for"@Model.Id"> *@

        <input type="submit" class="btn btn-danger" value="Delete"/>
        <a asp-action="Index" class="btn">Cancel</a>
    }
</div>